.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 200px;
    min-height: 100vh;
    position: fixed;
}


#logOutBtn{
    position: fixed;
    bottom: 0;
}



